{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Remix ICON -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'output.css' %}">


    <title>Ad India | Sign Up as a Seller</title>
</head>

<body class="h-[100vh] flex justify-center">
    <div class="flex flex-col justify-between h-full w-[90%]">
        <nav style="position: relative;">
            <div class="flex gap-x-4 justify-end text-[12px] pt-1">
                <div class="flex items-center gap-x-1">
                    <i class="ri-phone-fill"></i>
                    <p>(+91) 9535272001</p>
                </div>
                <div class="flex items-center gap-x-1">
                    <i class="ri-mail-fill"></i>
                    <p>contact@adindia.com</p>
                </div>
            </div>

            <div class="flex items-center justify-between">
                <a class="w-[15%]" href="{% url 'home' %}">
                    <img class="w-[100%]" src="{% static './img/logo.png' %}"></a>
                <ul class="flex gap-x-5 uppercase text-[13px] tracking-[2px]">
                    <li>
                        <a class="p-2 rounded-sm bg-[#f0b001bb] text-black" href="{% url 'company_signup' %}">Become A
                            seller</a>
                    </li>
                    <li>
                        <a class="p-2 rounded-sm hover:bg-[#f0b001bb] hover:text-black"
                            href="{% url 'user_signup' %}">hire a seller</a>
                    </li>
                    <li>
                        <a class="p-2 rounded-sm hover:bg-[#f0b001bb] hover:text-black" href="#">Contact</a>
                    </li>
                    <li>
                        <a class="p-2 rounded-sm hover:bg-[#f0b001bb] hover:text-black" href="#">Privacy Policy</a>
                    </li>
                </ul>
            </div>
        </nav>

        <form action="#" method="post" class="flex items-center justify-around">
            {% csrf_token %}

            <div>
                <p class="mb-5 text-[45px] uppercase leading-none">Join As a Seller</p>
                <p>Reach million of possible buyers with us</p>
            </div>
            <div class="flex flex-col gap-y-3 bg-[#f0b00127] px-7 py-10 rounded-sm text-black">

                <input class="w-[350px] p-2 rounded-sm" type="text" placeholder="Enter Company Name" name="company_name"
                    required>

                <input placeholder="Ad category" class="p-2 rounded-sm" name="ad_catagory">

                <input class="p-2 rounded-sm" type="text" placeholder="Enter ad price" name="ad_price" required>

                <input class="p-2 rounded-sm" type="email" placeholder="Enter email address" name="email" required>

                <input class="p-2 rounded-sm" type="password" placeholder="Enter password" name="password" required>

                <button class="bg-[#f0b001bb] p-2" type="submit">SIGN UP</button>
                {% for msg in messages%}
                <p style="color: white;">{{msg}}</p>
                {% endfor %}
                <span class="text-white">Already have an account? <a class="underline"
                        href="{% url 'company_signin' %}">Login</a></span>
            </div>
        </form>

        <footer class="flex justify-between">
            <p class="text-[12px]">&copy; AdIndia Ltd. 2022</p>
            <div class="flex gap-x-7">
                <a href="#"><i class="ri-twitter-fill hover:text-[#F0AF01]"></i></a>
                <a href="#"><i class="ri-linkedin-fill hover:text-[#F0AF01]"></i></a>
                <a href="#"><i class="ri-instagram-fill hover:text-[#F0AF01]"></i></a>
                <a href="#"><i class="ri-facebook-fill hover:text-[#F0AF01]"></i></a>
            </div>
        </footer>
    </div>
</body>

</html>