{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Remix ICON -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'output.css' %}">


    <title>Ad India | Grow in India with us</title>
  </head>

  <body class="h-[100vh] flex justify-center">
    <div class="flex flex-col justify-between h-full w-[90%]">
      <nav>
        <div class="flex gap-x-4 justify-end text-[12px] pt-1">
          <div class="flex items-center gap-x-1">
            <i class="ri-phone-fill"></i>
            <p>(+91) 9535272001</p>
          </div>
          <div class="flex items-center gap-x-1">
            <i class="ri-mail-fill"></i>
            <p>contact@adindia.com</p>
          </div>
        </div>

        <div class="flex items-center justify-between">
          <img class="w-[15%]" src="{% static './img/logo.png' %}" alt="My image" />
          <ul class="flex gap-x-5 uppercase text-[13px] tracking-[2px]">
            <li>
              <a class="p-2 rounded-sm hover:bg-[#F0AF01]" href="#"
                >Become A seller</a
              >
            </li>
            <li>
              <a class="p-2 rounded-sm hover:bg-[#F0AF01]" href="#"
                >hire a seller</a
              >
            </li>
            <li>
              <a class="p-2 rounded-sm hover:bg-[#F0AF01]" href="#">Contact</a>
            </li>
            <li>
              <a class="p-2 rounded-sm hover:bg-[#F0AF01]" href="#"
                >Privacy Policy</a
              >
            </li>
          </ul>
        </div>
      </nav>

      <div class="flex items-center justify-between">
        <div>
          <p class="text-[35px] tracking-[11px]">
            360<span class="text-[#F0AF01]">&deg;</span>Digital<br />Marketing
            Solution<br />Grow In India
          </p>
          <a class="text-[#F0AF01] hover:text-white" href="#">Find Out More</a>
          <i class="ri-arrow-right-line"></i>
        </div>

        <div class="grid grid-cols-2 gap-x-5 gap-y-10 w-[500px] text-center">
          <div>
            <i
              class="ri-earth-fill text-[60px] leading-none text-[#F0AF01]"
            ></i>
            <p class="text-[60px] leading-none">365+</p>
            <p class="text-[14px]">Registerted Agency</p>
          </div>
          <div>
            <i class="ri-cup-fill text-[60px] leading-none text-[#F0AF01]"></i>
            <p class="text-[60px] leading-none">950+</p>
            <p class="text-[14px]">Happy Clients</p>
          </div>
          <div>
            <i
              class="ri-award-fill text-[60px] leading-none text-[#F0AF01]"
            ></i>
            <p class="text-[60px] leading-none">65+</p>
            <p class="text-[14px]">Awards</p>
          </div>
          <div>
            <i
              class="ri-service-fill text-[60px] leading-none text-[#F0AF01]"
            ></i>
            <p class="text-[60px] leading-none">1000+</p>
            <p class="text-[14px]">Services</p>
          </div>
        </div>
      </div>

      <footer class="flex justify-between">
        <p class="text-[12px]">&copy; AdIndia Ltd. 2022</p>
        <div class="flex gap-x-7">
          <a href="#"><i class="ri-twitter-fill hover:text-[#F0AF01]"></i></a>
          <a href="#"><i class="ri-linkedin-fill hover:text-[#F0AF01]"></i></a>
          <a href="#"><i class="ri-instagram-fill hover:text-[#F0AF01]"></i></a>
          <a href="#"><i class="ri-facebook-fill hover:text-[#F0AF01]"></i></a>
        </div>
      </footer>
    </div>
  </body>
</html>
