{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Remix ICON -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'output.css' %}">
    <!-- <link rel="stylesheet" href="../dist/output.css"> -->


    <title>Ad India | Sign In As A Buyer</title>
</head>

<body class="h-[100vh] flex justify-center">
    <div class="flex flex-col justify-between h-full w-[90%]">
        <nav class="flex items-center justify-between">
            <a class="w-[15%]" href="{% url 'home' %}">
                <img class="w-[100%]" src="{% static 'img/logo.png' %}"></a>
                <!-- <img class="w-[100%]" src="../img/logo.png"></a> -->
            <ul class="flex gap-x-5 uppercase text-[13px] tracking-[2px]">
                <li class="p-2 rounded-sm bg-[#f0b001bb] text-black">{{user}}</li>
            </ul>
        </nav>

        <div class="flex items-center justify-around">
            <div class="flex gap-x-3 bg-[#f0b00127] px-7 py-10 rounded-sm text-black">

                <select name="ad_catagory" class="p-2 rounded-sm">
                    <option>-- Ads --</option>
                    <option>SELECT</option>
                </select>

                <!-- <select name="ad_catagory" class="p-2 rounded-sm">
                    <option>-- Offered By --</option>
                    <option>SELECT</option>
                </select> -->


                <button class="bg-[#f0b001bb] p-2" type="submit">Purchase</button>
            </div>
        </div>

        <footer class="flex justify-between">
            <p class="text-[12px]">&copy; AdIndia Ltd. 2022</p>
            <div class="flex gap-x-7">
                <a href="#"><i class="ri-twitter-fill hover:text-[#F0AF01]"></i></a>
                <a href="#"><i class="ri-linkedin-fill hover:text-[#F0AF01]"></i></a>
                <a href="#"><i class="ri-instagram-fill hover:text-[#F0AF01]"></i></a>
                <a href="#"><i class="ri-facebook-fill hover:text-[#F0AF01]"></i></a>
            </div>
        </footer>
    </div>
</body>

</html>